body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 98vh;
    background-color: #fbeace;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
.startscreen{
    display: flex;
    background-color: black;
    background-image: url('../../Resources/SplashscreenLoading.jpg');
    background-size:95vh 98vh;
    background-position: center;
    width: 98vh;
    height: 98vh;

}
.maingame {
    display:none;
    flex-direction: column;
    align-items: center;
}
.maintitle {
    font-size: 4vh;
    margin: 2vh;
    letter-spacing: 0.7vh;
    
}
.gameboard {
    display: flex;
    width:fit-content;
    border-radius: 25px;
    padding: 2vh;
    height:75vh;
    width: 40vh;
    gap: 1vh;
    justify-content: center;
    background-color: #5e8187;
    align-items: flex-end;
    margin: 2vh;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    width: 17vh;
    height: fit-content;
    justify-content: flex-end;
    background-color: #5e8187;

}
.card {
    background-color: black;
    width: 15vh;
    height: 21vh;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    background-size:cover;
    cursor: pointer;
    margin: 1vh;
}