body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fbeace;
}
.maintitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vh;
}
.gameboard {
    display: flex;
    width:fit-content;
    border-radius: 40px;
    padding: 2vh;
    height:80vh;
    gap: 1vh;
    justify-content: flex-end;
    background-color: #5e8187;
    align-items: flex-end;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    height: fit-content;
    justify-content: flex-end;
    background-color: #5e8187;

}
.card {
    background-color: black;
    width: 15vh;
    height: 21vh;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    background-size:cover;
    cursor: pointer;
    margin: 1vh;
}